// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #333
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$body-color=#fff
$body-font-size = 12px
$input-font-size = 12px

$generic-border-radius = 0
$button-border-radius = 0
$button-rounded-border-radius = 0
$button-push-border-radius = 0

$shadow-0 = none
$shadow-1 = none
$shadow-2 = none
$layout-header-shadow = $shadow-0
$layout-aside-shadow = $shadow-0
$button-shadow = $shadow-0
$table-box-shadow = $shadow-0

$toolbar-padding=0
$toolbar-min-height=48px

$button-font-size=12px
$item-font-size=12px
$item-icon-size=12px

$text-color=#fff
$link-color=#ffffff


$popover-background=rgba(0,0,0,0.8)